# API 設定
NEXT_PUBLIC_API_URL=http://localhost:3001

# ngrok 設定 (用於本地開發)
NEXT_PUBLIC_NGROK_URL=your_ngrok_url_here

# Shopline App 設定
# 選擇使用哪一組 App: custom 或 public（需與後端 APP_TYPE 一致）
NEXT_PUBLIC_APP_TYPE=custom

# Custom App (原本既有，用於單一 handle 的 custom app)
NEXT_PUBLIC_SHOPLINE_CUSTOM_APP_KEY=4c951e966557c8374d9a61753dfe3c52441aba3b
NEXT_PUBLIC_SHOPLINE_CUSTOM_APP_SECRET=dd46269d6920f49b07e810862d3093062b0fb858

# Public App (用於多個 handle 可以串接進同一個 app)
NEXT_PUBLIC_SHOPLINE_PUBLIC_APP_KEY=c6e5110e6e06b928920af61b322e1db0ca446c16
NEXT_PUBLIC_SHOPLINE_PUBLIC_APP_SECRET=62589f36ba6e496ae37b00fc75c434a5fece4fb9
